# Ignorar arquivos gerados pelo Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Ignorar arquivos do IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Ignorar dependências do Java
*.jar
*.war
*.ear

# Ignorar logs e arquivos temporários
*.log
logs/
hs_err_pid*
nohup.out

# Ignorar credenciais sensíveis
.env.local
.env.*.local
